{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Банкетам.Нет</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="appbar">
  <div class="container">
    <div class="brand">
      <h1>Банкетам.Нет</h1>
        </div>
        <div class="nav">
            {% if user.is_authenticated %}
            <a href="{% url 'cabinet' %}">Кабинет</a>
            <a href="{% url 'create_booking' %}">Новая заявка</a>
            {% if user.username == "Admin26" %}
                <a href="{% url 'admin_panel' %}">Админ</a>
            {% endif %}
            <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
  {% block content %}{% endblock %}
</div>

</body>
</html>