{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="title">Оформление заявки</div>

  <form method="post">
    {% csrf_token %}

    <div class="field">
      <label>{{ form.venue.label }}</label>
      {{ form.venue }}
      {% for e in form.venue.errors %}<div class="help-error">{{ e }}</div>{% endfor %}
    </div>

    <div class="field">
      <label>{{ form.start_date.label }}</label>
      <input class="input" type="text" name="start_date" placeholder="ДД.ММ.ГГГГ" value="{{ form.start_date.value|default:'' }}">
      {% for e in form.start_date.errors %}<div class="help-error">{{ e }}</div>{% endfor %}
    </div>

    <div class="field">
      <label>{{ form.payment_method.label }}</label>
      {{ form.payment_method }}
      {% for e in form.payment_method.errors %}<div class="help-error">{{ e }}</div>{% endfor %}
    </div>

    <button class="btn btn-primary" type="submit">Отправить заявку</button>
  </form>
</div>
{% endblock %}